@section Styles {
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/View-js/Cart.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Cart";
}

<br>

<h1>Cart</h1>

<main class="container">
    <br>
    <div class="tabs">
        <button class="tab active" data-tab="Cart-Items">Cart Items@* <span class="badge">2</span> *@</button>
        <button class="tab" data-tab="Ordered">Ordered@* <span class="badge">1</span> *@</button>
        <button class="tab" data-tab="To-Ship">To Ship</button>
    </div>

    <div id="Cart-Items" class="tab-content active">
        <div id="cartPageCard" class="order-card">
            <div class="order-items-row header">
                <span class="col product">Product</span>
                <span class="col price">Price</span>
                <span class="col quantity">Qty</span>
                <span class="col subtotal">Subtotal</span>
            </div>

            <div class="order-footer">
                <p>Total: <strong id="cartPageTotal">₱0</strong></p>
                <a class="btn btn-secondary" asp-controller="Cart" asp-action="Checkout">Checkout</a>
            </div>
        </div>
    </div>

    <div id="Ordered" class="tab-content">
        <div id="orderedItemsContainer"></div>
    </div>

    <div id="To-Ship" class="tab-content">
        <div id="toship"></div>
    </div>

</main>