@section Styles {
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/View-js/Cart.js" asp-append-version="true"></script>
}

@{
    ViewData["Title"] = "Cart";
}

<br>

<h1>Cart</h1>

<main class="container">
    <br>
    @* <div class="tabs">
        <button class="tab active" data-tab="shipping">Favorite<span class="badge">2</span></button>
        <button class="tab" data-tab="arrived">Checked<span class="badge">1</span></button>
        <button class="tab" data-tab="canceled">Pending</button>
    </div> *@

    <div id="shipping" class="tab-content active">
        <div id="cartPageCard" class="order-card">
            <div class="order-items-row header">
                <span class="col product">Product</span>
                <span class="col price">Price</span>
                <span class="col quantity">Qty</span>
                <span class="col subtotal">Subtotal</span>
            </div>

            <div class="order-items-row">
                <span class="col product">Kolin Inverter KAG-250WCINV 2.5HP</span>
                <span class="col price">₱1,000</span>
                <span class="col quantity">1</span>
                <span class="col subtotal">₱1,000</span>
            </div>

            <div class="order-items-row">
                <span class="col product">Kolin Inverter KAG-250WCINV 2.5HP</span>
                <span class="col price">₱1,000</span>
                <span class="col quantity">1</span>
                <span class="col subtotal">₱1,000</span>
            </div>

            <div class="order-footer">
                <p>Total: <strong id="cartPageTotal">₱0</strong></p>
                <button class="details-btn">Checkout</button>
            </div>
        </div>
    </div>


    <div id="arrived" class="tab-content">
        <p>No arrived orders yet.</p>
    </div>

    <div id="canceled" class="tab-content">
        <p>No canceled orders.</p>
    </div>
</main>