@{
    ViewData["Title"] = "Checkout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Checkout.css" asp-append-version="true" />
}

@*
@section Scripts {
    <script src="~/js/View-js/Checkout.js" asp-append-version="true"></script>
}
*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="container checkout-page">
    <div class="row">
        <!-- LEFT: SHIPPING DETAILS -->
        <div class="col-md-7">
            <h3 class="section-title">Fill in shipping details.</h3>

            <form id="shippingForm">

                <!-- ✅ Hidden Selected Address ID -->
                <input type="hidden"
                       id="selectedAddressId"
                       name="deliveryAddressId" />

                <div class="checkout-section">

                    <h6><strong>Delivery Address</strong></h6>

                    <div id="selectedAddressContainer">
                        <p class="text-muted">No delivery address selected.</p>
                    </div>

                    <button type="button"
                            class="btn btn-outline-primary"
                            id="selectAddressBtn">
                        Select Delivery Address
                    </button>
                </div>
                </br>
                </br>
                <!-- 🔹 SELECTED ITEMS SECTION -->
                <div class="checkout-section mt-4">

                    <h6><strong>Checkout Items</strong></h6>

                    <div id="checkoutItemsContainer">
                        <p class="text-muted">Loading selected items...</p>
                    </div>

                </div>




            </form>
        </div>



        <!-- RIGHT: ORDER SUMMARY -->
        <div class="col-md-5">
            <div class="order-summary">
                <h4>Your Order</h4>
                <hr />

                <!-- Selected Items Summary -->
                <div id="checkoutItems"></div>

                <hr />

                <!-- Subtotal -->
                <div class="d-flex justify-content-between">
                    <span>Checkout Item/s Subtotal</span>
                    <strong id="checkoutSubtotal">₱0</strong>
                </div>
                <!-- sum of gross Weight of the Items-->
                <div class="d-flex justify-content-between mt-2">
                    <span>Total Gross Weight</span>
                    <strong id="totalWeight">0 kg</strong>
                </div>

                <!-- Number of Units -->
                <div class="d-flex justify-content-between mt-3">
                    <span>Total Units</span>
                    <strong id="totalUnits">0</strong>
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <span>Shipping Fee</span>
                    <strong id="shippingFee">0</strong>
                </div>



                <!-- Shipping Options -->
                <div class="mt-4">
                    <strong>Shipping Method</strong>

                    <div class="form-check mt-2">
                        <input class="form-check-input shipping-option"
                               type="radio"
                               name="shippingMethod"
                               value="STANDARD_DELIVERY"
                               id="standardDelivery"
                               checked>
                        <label class="form-check-label" for="standardDelivery">
                            Standard  – ₱ 800.00
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input shipping-option"
                               type="radio"
                               name="shippingMethod"
                               value="STORE_PICKUP"
                               id="pickup">
                        <label class="form-check-label" for="pickup">
                            Store Pickup
                        </label>
                    </div>
                </div>

                <!-- Payment Options -->
                <div class="mt-4">
                    <strong>Payment Method</strong>

                    <div class="form-check mt-2">
                        <input class="form-check-input payment-option"
                               type="radio"
                               name="paymentMethod"
                               value="CASH_ON_DELIVERY"
                               id="cod"
                               checked>
                        <label class="form-check-label" for="cod">
                            Cash on Delivery (COD)
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input payment-option"
                               type="radio"
                               name="paymentMethod"
                               value="ONLINE_PAYMENT"
                               id="onlinePayment">
                        <label class="form-check-label" for="onlinePayment">
                            Online Payment
                        </label>
                    </div>
                </div>

                <hr />

                <!-- Total -->
                <div class="d-flex justify-content-between total">
                    <strong>Total</strong>
                    <strong id="checkoutTotal">₱0</strong>
                </div>

                <button type="button"
                        id="placeOrderBtn"
                        class="btn btn-danger w-100 mt-4">
                    Place Order
                </button>

            </div>
        </div>
        </div>
</div>



<!--Select Address Modal-->
<div class="modal fade" id="addressModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Select Delivery Address</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div id="addressListContainer">
                    Loading addresses...
                </div>
            </div>

        </div>
    </div>
</div>



<script src="~/js/shop_js/shop_checkout.js"></script>
























@* Modal for form *@
<div class="modal fade" id="orderSummaryModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h6>Shipping Details</h6>
                <p id="summaryShipping"></p>

                <hr />

                <h6>Ordered Items</h6>
                <div id="summaryItems"></div>

                <hr />

                <h6>Shipping Details</h6>
                <div id="summaryDate_Time"></div>

                <hr />

                <div class="d-flex justify-content-between">
                    <strong>Total</strong>
                    <strong id="summaryTotal"></strong>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Edit</button>
                <button class="btn btn-danger" id="confirmOrderBtn">
                    Confirm Order
                </button>
            </div>
        </div>
    </div>
</div>

@* Order confirmation notif toast*@
<div class="position-fixed top-0 end-0 p-3" style="z-index: 1055">
    <div id="orderToast" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Your order has been successfully placed!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

