@page
@model ARCon_Capstone_2.Areas.Ecommerce.Views.Product.Search_resultsModel
@section Styles {
    <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

@* @section Scripts {
    <script src="~/js/View-js/Index.js" asp-append-version="true"></script>
} *@

<div class="search-container">

    <!-- LEFT SIDEBAR FILTERS -->
    <aside class="filters">

        <h4>Price, ₱</h4>
        <div class="price-range">
            <input type="number" placeholder="5000" />
            <span> - </span>
            <input type="number" placeholder="50000" />
        </div>

        <hr>

        <div class="filter-section">
            <h5>Stock Status</h5>
            <label><input type="checkbox" id="in-stock" /> In Stock</label><br />
            <label><input type="checkbox" id="discontinued" /> Discontinued</label>
        </div>

        <hr>

        <div class="filter-section">
            <h5>Brands</h5>
            <div class="filter-scroll">
                <label><input type="checkbox" id="samsung-cb"/> Samsung</label><br />
                <label><input type="checkbox" id="lg-cb" /> LG</label><br />
                <label><input type="checkbox" id="kolin-cb" /> Kolin</label><br />
                <label><input type="checkbox" id="daikin-cb" /> Daikin</label><br />
                <label><input type="checkbox" id="tcl-cb" /> TCL</label><br />
                <label><input type="checkbox" id="carrier-cb" /> Carrier</label><br />
                <label><input type="checkbox" id="panasonic-cb" /> Panasonic</label><br />
                <label><input type="checkbox" id="hitachi-cb" /> Hitachi</label>
            </div>
        </div>

        <hr>

        <div class="filter-section">
            <h5>HP</h5>
            <div class="filter-scroll">
                <label><input type="checkbox" id="1-hp" /> 1 HP</label><br />
                <label><input type="checkbox" id="1.5-hp" /> 1.5 HP</label><br />
                <label><input type="checkbox" id="2-hp" /> 2 HP</label><br />
                <label><input type="checkbox" id="2.5-hp" /> 2.5 HP</label><br />
                <label><input type="checkbox" id="3-hp" /> 3 HP</label><br />
                <label><input type="checkbox" id="3.5-hp" /> 3.5 HP</label><br />
                <label><input type="checkbox" id="4-hp" /> 4 HP</label><br />
                <label><input type="checkbox" id="4.5-hp" /> 4.5 HP</label><br />
                <label><input type="checkbox" id="5-hp" /> 5 HP</label>
            </div>
        </div>

        <hr>

        <div class="filter-section">
            <h5>Form Type</h5>
            <label><input type="checkbox" id="split" /> Split</label><br />
            <label><input type="checkbox" id="window" /> Window</label><br />
            <label><input type="checkbox" id="ceiling" /> Ceiling</label>
        </div>

        <hr>

        <button class="btn btn-primary mt-3">Apply Filters</button>
    </aside>


    <!-- RIGHT SIDE PRODUCTS -->
    <section class="results">

        <div class="results-header">
            <h3>Showing (no.) Results</h3>
            <select>
                <option>Relevance</option>
                <option>Inverter</option>
                <option>Non-Inverter</option>
                <option>Price: Low to High</option>
                <option>Price: High to Low</option>
            </select>
        </div>

        <div class="product-grid">

            <!-- Product Card Placeholder -->
            <div class="product-card">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>

                <img src="~/ImageSources/Product/LG.webp" alt="Product">

                <h4>LG Window Inverter LA08GC</h4>
                <p class="description">Inverter | 1 HP | Window Type</p>

                <p class="old-price">₱30,000</p>
                <p class="price">₱26,190</p>

                <button class="btn btn-primary">Add to Cart</button>
            </div>


            <div class="product-card">
                <span class="badge discount">10% OFF</span>
                <span class="badge stock">IN STOCK</span>

                <img src="~/ImageSources/Product/LG.webp" alt="Product">

                <h4>Samsung Split Type 1.5HP</h4>
                <p class="description">Inverter | 1.5 HP | Split Type</p>

                <p class="old-price">₱45,000</p>
                <p class="price">₱39,999</p>

                <button class="btn btn-primary">Add to Cart</button>
            </div>

            <div class="product-card">
                <span class="badge discount">31% OFF</span>
                <span class="badge stock">IN STOCK</span>

                <img src="~/ImageSources/Product/LG.webp" alt="Product">

                <h4>Daikin Ceiling Type 2HP</h4>
                <p class="description">Non-Inverter | 2 HP | Ceiling</p>

                <p class="old-price">₱50,000</p>
                <p class="price">₱34,500</p>

                <button class="btn btn-primary">Add to Cart</button>
            </div>

        </div>

    </section>

</div>