    @page
@model ARCon_Capstone_2.Views.Home.AboutModel
@{
}

@section Styles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}

<section class="top-part">
    <div class="image-wrapper">
        <img class="bg-image" src="~/ImageSources/Background/owner.jpg" alt="background image">

        <div class="hero-text">
            <h1>About Us</h1>
            <p>Clear text on image</p>
        </div>
    </div>
</section>

<section class="bottom-part">
    <div class="container">
        <div class="hero_1-text">
            <h1>About Us</h1>
            <p>Clear text on image</p>
        </div>
    </div>
</section>
