@page
@model ARCon_Capstone_2.Views.Home.ContactModel

@section Styles {
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
}
<button class="bg-blue-500 hover:bg-blue-700 focus:ring-2">
    Hover me
</button>