@{
    ViewData["Title"] = "Air-Con";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

@section Scripts {
    <script src="~/js/View-js/Index.js" asp-append-version="true"></script>
}


@* Page Headline *@
<div class="toolbar" id="tb">

    <!-- Dropdown 1 -->
    <div class="text-dropdown" id="d1">
        <span class="material-icons" id="list-icon">list</span>
        <span class="dropdown-label" id="caterogries">Sort by Categories </span>
        <div class="dropdown-menu">
            <div class="dropdown-item">Inverter</div>
            <div class="dropdown-item">Non-Inverter</div>
            <div class="dropdown-item">Price: High to Low</div>
            <div class="dropdown-item">Price: Low to High</div>
        </div>
    </div>

    <!-- Brands -->
    <div class="text-dropdown" id="d2">
        <span class="dropdown-label">Brands ▾</span>
        <div class="dropdown-menu">
            <div class="dropdown-item" id="samsung">Samsung</div>
            <div class="dropdown-item" id="lg">LG</div>
            <div class="dropdown-item" id="kolin">Kolin</div>
            <div class="dropdown-item" id="daiking">Daikin</div>
            <div class="dropdown-item" id="tcl">TCL</div>
        </div>
    </div>

    <!-- HP -->
    <div class="text-dropdown" id="d2">
        <span class="dropdown-label">HP ▾</span>
        <div class="dropdown-menu">
            <div class="dropdown-item" id="1hp">1 hp</div>
            <div class="dropdown-item" id="1.5hp">1.5 hp</div>
            <div class="dropdown-item" id="2hp">2 hp</div>
            <div class="dropdown-item" id="2.5hp">2.5 hp</div>
            <div class="dropdown-item" id="3hp">3 hp</div>
        </div>
    </div>

    <div class="text-dropdown" id="d2">
        <span class="dropdown-label">Form  ▾</span>
        <div class="dropdown-menu">
            <div class="dropdown-item" id="1hp">Split</div>
            <div class="dropdown-item" id="1hp">Ceiling</div>
            <div class="dropdown-item" id="1hp">Stand</div>
            <div class="dropdown-item" id="1hp">Window</div>
        </div>
    </div>

    <!-- Buttons -->
    <button class="text-button" id="b1">🔥 Best Deals</button>
    <button class="text-button" id="b2">🚛 Free Shipping</button>
    <button class="text-button" id="b3">⭐ Top Picks</button>
    @* <button class="text-button" id="b4"></button> *@

</div>

<section class="hero">
    <div class="hero-text">
        <h1>Best Aircon Distributor In Town</h1>
        <p>We sell top quality for affordable prices.</p>
        <p>Fast and reliable delivery.</p>
        <p>Customer satisfaction guaranteed.</p>

        <a asp-controller="Home" asp-action="Featured" class="btn">Shop Now</a>
    </div>

    <div class="hero-img">
        <img src="~/ImageSources/Background/coni.jpg" alt="Coni">
    </div>
</section>

@* Products *@
<section class="deals">
    <h2>BEST DEALS</h2>
    <div class="deal-cards">
        <div class="card product-card text-dark">
            <a asp-controller="Home" asp-action="Product">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>
                <img src="~/ImageSources/Product/LG.webp" alt="LG Window Inverter">
                <h3>LG Window Inverter LA08GC</h3>
                <p>Product Description</p>
                <p class="old-price">₱30,000</p>
                <p class="price">₱26,190</p>
            </a>
            <button class="btn btn-primary"
                    onclick="addToCart({id: 1, name: 'LG Window Inverter LA08GC', price: 26190})">
                Add to Cart
            </button>
        </div>


        <div class="card product-card text-dark">
            <a asp-controller="Home" asp-action="Product">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>
                <img src="~/ImageSources/Product/LG.webp" alt="LG Window Inverter">
                <h3>LG Window Inverter Try 2</h3>
                <p>Product Description</p>
                <p class="old-price">₱30,000</p>
                <p class ="price">₱12,190</p>
            </a>
            <button class="btn btn-primary"
                    onclick="addToCart({id: 2, name: 'LG Window Inverter Try 2', price: 12190})">
                Add to Cart
            </button>
        </div>

        <div class="card product-card text-dark">
            <a asp-controller="Home" asp-action="Product">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>
                <img src="~/ImageSources/Product/LG.webp" alt="LG Window Inverter">
                <h3>LG Window Inverter Try 3</h3>
                <p>Product Description</p>
                <p class="old-price">₱30,000</p>
                <p class="price">₱42,190</p>
            </a>
            <button class="btn btn-primary"
                    onclick="addToCart({id: 3, name: 'LG Window Inverter Try 3', price: 42190})">
                Add to Cart
            </button>
        </div>

        <div class="card product-card text-dark">
            <a asp-controller="Home" asp-action="Product">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>
                <img src="~/ImageSources/Product/LG.webp" alt="LG Window Inverter">
                <h3>LG Window Inverter Try 4</h3>
                <p>Product Description</p>
                <p class="old-price">₱30,000</p>
                <p class="price">₱16,190</p>
            </a>
            <button class="btn btn-primary"
                    onclick="addToCart({id: 4, name: 'LG Window Inverter Try 4', price: 16190})">
                Add to Cart
            </button>
        </div>
        <div class="card product-card text-dark">
            <a asp-controller="Home" asp-action="Product">
                <span class="badge discount">19% OFF</span>
                <span class="badge stock">IN STOCK</span>
                <img src="~/ImageSources/Product/LG.webp" alt="LG Window Inverter">
                <h3>LG Window Inverter Try 4</h3>
                <p>Product Description</p>
                <p class="old-price">₱30,000</p>
                <p class ="price">₱16,190</p>
            </a>
            <button class="btn btn-primary"
                    onclick="addToCart({id: 4, name: 'LG Window Inverter Try 4', price: 16190})">
                Add to Cart
            </button>
        </div>

    </div>

</section>


<!--Start This is the (10 Products Section)-->
<section class="deals">
    <h2>PRODUCT</h2>
    <div class="deal-cards" id="productContainer">
        <!-- Products will load here -->
    </div>
</section>
<!--End This is the (10 Products Section)-->

<section class="services" id="services">
    <h2>Services</h2>
    <div class="service-grid">
        <div>
            <a asp-controller="Index" asp-action="Cleaning">
                <img src="~/ImageSources/Service/clean.png" alt="Cleaning">
            </a>
            <p>Cleaning</p>
        </div>

        <div>
            <a asp-controller="Index" asp-action="Repair">
                <img src="~/ImageSources/Service/repairing.jpg" alt="Repair">
            </a>
            <p>Repair</p>
        </div>

        <div>
            <a asp-controller="Index" asp-action="Freoncharging">
                <img src="~/ImageSources/Service/charging.jpg" alt="Freoncharging">
            </a>    
            <p>Freon Charging</p>
        </div>

        <div>
            <a asp-controller="Index" asp-action="Installing">
                <img src="~/ImageSources/Service/install.png" alt="Installing">
            </a>
            <p>Installing</p>
        </div>
    </div>
</section>

<section class="bottom-note">
    <p>AIR-CON: offers high-quality products with fast and reliable services!</p>
</section>

<section class="bottom-image">
    <div class="overlay"></div>
    <div class="text-overlay">
        <h1>Skilled and Well-trained Technicians</h1>
        <p>Expert service, anytime, anywhere.</p>
    </div>
    <img src="~/ImageSources/Background/owner.jpg" alt="Aircon">
</section>


<!--<script src="~/js/dashboard.js"></script>-->
<script src="~/js/shop_js/shop_home_ten_products_card.js"></script>



