@page
@model ARCon_Capstone_2.Areas.Shop.Views.Home.SigninModel

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
}

<div class="signup-page">
    <div class="signup-card">

        <!-- ONE FORM ONLY -->
        <form id="signupForm">

            <!-- Left column -->
            <div class="signup-form">
                <h2>Sign Up</h2>
                <p class="subtitle">Welcome to our website, let’s get started</p>

                <h6>Basic Information</h6>

                <div class="name-row">
                    <input id="fname" name="first_name" type="text" placeholder="First name" required />
                    <input id="mname" name="middle_name" type="text" placeholder="Middle name" />
                    <input id="lname" name="last_name" type="text" placeholder="Last name" required />
                </div>

                <input id="birthday"
                       name="birthday"
                       type="date"
                       required
                       min="1904-01-01"
                       max="2007-12-31" />

                <h6>Address</h6>

                <input id="house_unit" name="house_unit" type="text" placeholder="House / Unit" />
                <input id="street_name" name="street_name" type="text" placeholder="Street" />

                <div class="name-row">
                    <select id="region" name="region_id" required>
                        <option value="">-- Select Region --</option>
                    </select>

                    <select id="province" name="province_id" disabled required>
                        <option value="">-- Select Province --</option>
                    </select>
                </div>

                <div class="name-row">
                    <select id="municipality" name="municipality_id" disabled required>
                        <option value="">-- Select Municipality --</option>
                    </select>

                    <select id="barangay" name="barangay_id" disabled required>
                        <option value="">-- Select Barangay --</option>
                    </select>
                </div>

                <input id="zip_code" name="zip_code" type="text" placeholder="Zip Code" />
                <input id="landmark" name="landmark" type="text" placeholder="Landmark" />
            </div>

            <!-- Right column -->
            <div class="signup-right">
                <div class="signup-form-right">
                    <h6>Contact</h6>
                    <input id="email" name="email" type="email" placeholder="Email" required />
                    <input id="contact" name="contact_no" type="text" placeholder="Contact number" required />

                    <h6>Password</h6>
                    <input id="password" name="password" type="password" placeholder="Password" required />
                    <input id="cpassword" type="password" placeholder="Confirm Password" required />
                    <div id="formError" class="form-error" style="display:none;"></div>
                    <button type="button" id="btnCreateAccount">Create Account</button>

                </div>

                <div class="illustration">
                    <img src="~/ImageSources/Background/repair.jpg" alt="Illustration" />
                </div>
            </div>

        </form>

    </div>
</div>

<script src="~/js/create_customer.js"></script>
