@{
    ViewData["Title"] = "Processing";
}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Processing (Transaction)</h4>

    <div class="row mb-3">
        <div class="col-auto">
            <input type="text"
                   id="paymentProcessingTransactionSearchInput"
                   class="form-control form-control-sm"
                   placeholder="Search processing transactions..."
                   style="width: 620px;" />
        </div>

    </div>

    <button class="btn btn-primary d-flex align-items-center gap-2"
            onclick="location.href='/Admin/Transactions/ForShipping'">
        <i class="bi bi-plus-circle"></i>
        Go to For Shipping >
    </button>
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div id="processingTransactiontInfo" class="text-muted small mt-1"></div>
</div>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th class="text-center small sortable" onclick="sort('transactionCode')">
                Transaction Code
            </th>
            <th class="text-center small sortable" onclick="sort('customerName')">
                Customer Name
            </th>
            <th>
                Payment Method
            </th>
            <th class="text-center small sortable" onclick="sort('grandTotal')">
                Grand Total
            </th>
            <th class="text-center small sortable" onclick="sort('-')">
                Placed At
            </th>
            <th class="text-center small sortable" onclick="sort('dateConfirmed')">
                Date Confirmed
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>

    <tbody id="processingTransactionTableBody">
        <!-- injected by JS -->
    </tbody>
</table>


<nav aria-label="Processing Transaction Pagination" class="mt-3">
    <ul id="pagination" class="pagination justify-content-center">
        <!-- pagination injected by JS -->
    </ul>
</nav>

<script src="~/js/transaction-processing.js"></script>
